<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>

    </header>
    <main>
      <section class="hero">
        <h1>List of Events</h1>
        <a href="/events">
          <button class="btn">View Events</button>
        </a>
      </section>
      <%- include("../partials/footer") -%>
    </main>
  </section>
  </body>
</html>
