<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/c91808f2e8.js" crossorigin="anonymous"></script>

</head>
<body>
    <footer class="footer padding">
        <div class="container">
            <span>&copy; EventManagement 2021</span>
        </div>
        <nav class="flex">
            <ul class="flex">
            <li>
                 <a href="https://facebook.com" target="_blank">
                     <i class="fab fa-facebook-square"></i>
            </a>
            </li>
            <li>
                <a href="https://twitter.com" target="_blank">
                    <i class="fab fa-twitter-square"></i>
                </a>
             </li>
        </nav>
    </footer>
    
</body>
</html>