body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero{
  background-image: url(../images/hero-1.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.event-add-form{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  width: 100%;
  padding: 2rem 0;
}
header a {
  text-decoration: none;
  color: white;
  font-family: var(--secondfont);
  font-weight: 700;
  margin-left: 2rem;
  font-size: 1.2rem;
}
header a:hover{
  color: #00B7FF;
  text-decoration: underline;
}
.event-add-form{
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: auto;
  padding: 6% 10% 5% 10%;
  display: flex;
  flex-direction: column;
}
.headings{
  flex-basis: 65%;
  margin-right: 5%;
}
.form-group{
  background: rgb(34,43,49,0.7);
  color: white;
  flex-basis: 35%;
  border-top: 10px solid ;
  padding: 2% 3%;
}

.formgroup h3{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.formgroup form label{
  color: rgba(255,255,255,0.8);
  display: inline-block;
  max-width: 100%;
  margin-bottom: 0.3rem;
}

.formgroup form .event-form-input{
  border: 2px solid rgba(255,255,255,0.2);
  box-shadow: none;
  background: transparent;
  height: 2.5rem;
  display: block;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 1rem;

}

.btn {
  padding: 0.5rem 0.75rem;
  border: none;
  background-color: rgb(8, 81, 83);
  color: white;
  font-size: 1.2rem;
  border-radius: 2rem;
}

ul{
  list-style: none;
  display: grid;
  grid-gap: 2.5rem;
  grid-template-columns: repeat(2,1fr);
}

